<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Form</title>
</head>
<body>
    <header content="title">
        <h1>Smart Phones Order Form</h1>
    </header>

    <section class="form">
        <div class="container">
            <div class="card">
                <form method="post">
                    <div class="row">
                        <h3>Full Name</h3>
                        <div class="column">
                            <label>
                                <input type="text" class="form-input" placeholder="First name" name="first-name" />
                            </label>
                        </div>
                        <div class="column">
                            <label>
                                <input type="text" class="form-input" placeholder="Middle name" name="middle-name" />
                            </label>
                        </div>
                        <div class="column">
                            <label>
                                <input type="text" class="form-input" placeholder="Last name" name="last-name" />
                            </label>
                        </div>

                        <h3>E-mail</h3>
                        <div class="column">
                            <label>
                                <input type="text" class="form-input" placeholder="example@example.com" name="e-mail" />
                            </label>
                        </div>

                        <h3>Contact Number</h3>
                        <div class="column">
                            <label>
                                <input type="text" class="form-input" placeholder="Contact Number" name="contact-number" />
                            </label>
                        </div>

                        <h3>Billing Address</h3>
                        <div class="column">
                            <label>
                                <input type="text" class="form-input" placeholder="Street Address" name="street-address" />
                            </label>
                        </div>
                        <div class="column">
                            <label>
                                <input type="text" class="form-input" placeholder="Street Address Line 2" name="street-address-line-2" />
                            </label>
                        </div>
                        <div class="column">
                            <label>
                                <input type="text" class="form-input" placeholder="City" name="city" />
                            </label>
                        </div>
                        <div class="column">
                            <label>
                                <input type="text" class="form-input" placeholder="State / Province" name="state-province" />
                            </label>
                        </div>
                        <div class="column">
                            <label>
                                <select name="country" class="form-input">
                                    <option value="" selected disabled>Select Country</option>
                                    <option value="canada">Canada</option>
                                    <option value="united-states">United States</option>
                                    <option value="mexico">Mexico</option>
                                </select>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <h3>Product Details</h3>
                        <div class="column">
                            <label>
                                <input type="text" class="form-input" placeholder="Product #" name="product-type" />
                            </label>
                        </div>
                        <div class="column">
                            <label>
                                <input type="text" class="form-input" placeholder="Phone Brand" name="phone-brand" />
                            </label>
                        </div>
                        <div class="column">
                            <label>
                                <input type="text" class="form-input" placeholder="Phone Model" name="phone-model" />
                            </label>
                        </div>
                        <div class="column">
                            <label>
                                <input type="text" class="form-input" placeholder="Quantity" name="quantity" />
                            </label>
                        </div>
                    </div>

                    <div class="button">
                        <button class="reset">Reset</button>
                        <button class="submit">Submit</button>
                    </div>

                    <div class="bottom"><i>
                        <div class="links">
                            <a class="website" href="https://www.digitel.ca/" target="_blank"><b>DigiTel website</b></a>
                        </div>
                    </i></div>
                </form>
            </div>
        </div>
    </section>

    <section>
        <footer>
            <div class="copyright">
                <h5>Copyright by Lucianna Mendonca. All Rights Reserved.<br>
                    Software Engineering Technology<br>
                </h5>
            </div>
        </footer>
    </section>
</body>
</html>